:root{
    --primary :#073e50; 
  }

*{
	margin: 0;
	padding: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
	background: #fff;
	color: #555;
	font-family: 'lato', 'Arial', 'sans-serif';
	font-weight: 300;
	font-size: 18px;
	text-rendering:optimizeLegibility; 
}

header{
    min-height: 100vh;
}

/*............................................/

//REUSABLE COMPONENT//

/.............................................*/
.container-fluid {
    width: 100%;
}
.container{
    width: 80%;
    margin: auto;
}

header .container-fluid{
    min-height: 5vw;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    display: flex;
    justify-content: space-between;
}

.brand{
    padding: 20px;
}

nav .navbar{
    list-style: none;
    display: flex;
}

.navbar .nav-link{
    padding: 20px;
}
.navbar .nav-link a {
    text-decoration: none;
    color: #000;
}
.navbar .nav-link:last-child a{
    background-color: var(--primary);
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
}

header #intro{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,3)), url('../images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}
#home-text{
    color: #fff;
    margin-left:10%;
}
#home-text p,#home-text h1{
    padding-top:20px;
}
.btn{
    padding: 10px 20px;
    columns: #fff;
    border-radius: 4px;
    border: 1px solid transparent;
}
.btn-primary{
    background: var(--primary);
    color: #fff;
}
.how-it-works{
    margin-top: 20px;
}
#home-text button:hover{
    background: #0e84ac;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s, border 0.4s;
}

.row{
    width: 100%;
    padding: 5px 1%;
    display: flex;
    justify-content: space-around;
}
